<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC504C4E1D84E98000A14082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC504C621D84E98000A14082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC504C6D1D84E98000A14082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
